<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View and edit Providers</title>

  <!-- Box Icons  -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <!-- Styles  -->
  <link rel="stylesheet" href="/css/adminDashboard.css" />
</head>

<body>
  <%- include('../partials/aside.ejs')%>

      <% if (carPackages.length> 0) { %>
        <div class="board">
          <table width="100%">
            <thead>
              <tr>
                <th>Car-Packages</th>
              </tr>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Provider Name</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <% carPackages.forEach(Packages=> { %>
              <tbody>

                <tr id="user-<%=Packages.id%>">
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.type %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.id %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.price %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.Providers.name %>
                      <!-- provider name -->
                    </p>
                  </td>
                  <script>
                    // console.log("Provider Object for Package <%= Packages.id %>: ",  JSON.stringify(Packages.provider));
                  </script>
                  <td class="edit"><a href="/admin/editCarPackages/<%=Packages.id%>">Edit</a></td>
                  <td class="edit"> <a href="/admin" onclick="return deleteCarPackages('<%=Packages.id%>');">Delete</a></td>
                </tr>

              </tbody>
              <% }) %>
              
          </table>
          <% } else { %>
            <p>There are no Car Packages to display...</p>
            <% } %>
        </div>

    
   
      <% if (medicalPackages.length> 0) { %>
        <div class="board">
          <table width="100%">
            <thead>
              <tr>
                <th>Medical-Packages</th>
              </tr>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Provider Name</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <% medicalPackages.forEach(Packages=> { %>
              <tbody>

                <tr id="user-<%=Packages.id%>">
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.type %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.id %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.price %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.Providers.name %>
                      <!-- provider name -->
                    </p>
                  </td>
                  <td class="edit"><a href="/admin/editMedicalPackages/<%=Packages.id%>">Edit</a></td>
                  <td class="edit"> <a href="/admin" onclick="return deleteMedicalPackages('<%=Packages.id%>');">Delete</a></td>
                </tr>

              </tbody>
              <% }) %>
          </table>
          <% } else { %>
            <p>There are no Medical Packages to display...</p>
            <% } %>
        </div>
   

    
      <% if (lifePackages.length> 0) { %>
        <div class="board">
          <table width="100%">
            <thead>
              <tr>
                <th>Life-Packages</th>
              </tr>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Provider Name</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <% lifePackages.forEach(Packages=> { %>
              <tbody>

                <tr id="user-<%=Packages.id%>">
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.type %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.id %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.price %>
                    </p>
                  </td>
                  <td class="people-des">
                    <p name="name">
                      <%= Packages.Providers.name %>
                      <!-- provider name -->
                    </p>
                  </td>
                  <td class="edit"><a href="/admin/editLifePackages/<%=Packages.id%>">Edit</a></td>
                  <td class="edit"> <a href="/admin" onclick="return deleteLifePackages('<%=Packages.id%>');">Delete</a></td>
                </tr>

              </tbody>
              <% }) %>
          </table>
          <% } else { %>
            <p>There are no Life Packages to display...</p>
            <% } %>
        </div>
  











    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>

</body>

</html>